# Python
__pycache__/
*.py[cod]
*.pyd

# Virtual environment
.venv/
venv/

# Packaging
build/
dist/
*.egg-info/

# Pytest
.pytest_cache/
.coverage

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Logs
*.log

# Qt / UI cache
*.qrc
